{% extends 'header.html' %}
{% block content %}
{%load static %}


    </br>
    </br>
<div class="container">
 
{% if latest_Album_list %}
 
        {% csrf_token %}
          
                {% for a in latest_Album_list %}
    <a href="/music/{{ a.pk}}/">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #222">
                <h3 class="panel-title">{{ a.album_title }}</h3>
            </div>
            <div class="panel-body" style="background-color: #fdc00d">
                        <div>
                <img src="/{{ a.album_logo }}" height="15%" alt="">
                </div>                              
                        <div class="form-controll">
                            <label>
                              <h1> {{ a.artist }} </h1>
                            </label>
                        </div>  
                         <div class="form-controll">
                            <label>
                               <h4> {{ a.genre }} </h4>
                            </label>
                        </div>        
             </div>
            <div class="panel-footer text-center">
            <a class="btn btn-primary" href="{% url 'music:Updatealbum' %}">
                                <span  class="fa fa-pencil"> Edit</span></a>          
            </div>          
        </div>
    </div>
    </a>
    {% endfor %}
    
{% else %}
    <p>No Album are available.</p>
{% endif %}
</div>
{% endblock %}
